# 微信小程序目录结构
.DS_Store
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# 编译产物
dist/
build/
*.min.js
*.min.wxss

# 临时文件
tmp/
temp/
*.log

# 依赖包
node_modules/
package-lock.json
yarn.lock

# 配置文件备份
*.bak
*.backup

# 系统文件
Thumbs.db
.DS_Store
cloudfunctions/getOpenid/miniprogram_npm/@cloudbase/database/index.js
cloudfunctions/getOpenid/miniprogram_npm/@cloudbase/database/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@cloudbase/node-sdk/index.js
cloudfunctions/getOpenid/miniprogram_npm/@cloudbase/node-sdk/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@cloudbase/signature-nodejs/index.js
cloudfunctions/getOpenid/miniprogram_npm/@cloudbase/signature-nodejs/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/aspromise/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/aspromise/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/base64/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/base64/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/codegen/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/codegen/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/eventemitter/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/eventemitter/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/fetch/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/fetch/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/float/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/float/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/inquire/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/inquire/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/path/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/path/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/pool/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/pool/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/utf8/index.js
cloudfunctions/getOpenid/miniprogram_npm/@protobufjs/utf8/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/agentkeepalive/index.js
cloudfunctions/getOpenid/miniprogram_npm/agentkeepalive/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/ajv/index.js
cloudfunctions/getOpenid/miniprogram_npm/ajv/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/arg/index.js
cloudfunctions/getOpenid/miniprogram_npm/arg/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/asn1/index.js
cloudfunctions/getOpenid/miniprogram_npm/asn1/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/assert-plus/index.js
cloudfunctions/getOpenid/miniprogram_npm/assert-plus/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/asynckit/index.js
cloudfunctions/getOpenid/miniprogram_npm/asynckit/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/aws-sign2/index.js
cloudfunctions/getOpenid/miniprogram_npm/aws-sign2/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/aws4/index.js
cloudfunctions/getOpenid/miniprogram_npm/aws4/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/axios/index.js
cloudfunctions/getOpenid/miniprogram_npm/axios/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/base64-js/index.js
cloudfunctions/getOpenid/miniprogram_npm/base64-js/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/bcrypt-pbkdf/index.js
cloudfunctions/getOpenid/miniprogram_npm/bcrypt-pbkdf/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/bignumber.js/index.js
cloudfunctions/getOpenid/miniprogram_npm/bignumber.js/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/bluebird/index.js
cloudfunctions/getOpenid/miniprogram_npm/bluebird/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/bson/index.js
cloudfunctions/getOpenid/miniprogram_npm/bson/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/buffer/index.js
cloudfunctions/getOpenid/miniprogram_npm/buffer/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/buffer-equal-constant-time/index.js
cloudfunctions/getOpenid/miniprogram_npm/buffer-equal-constant-time/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/buffer-from/index.js
cloudfunctions/getOpenid/miniprogram_npm/buffer-from/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/call-bind-apply-helpers/index.js
cloudfunctions/getOpenid/miniprogram_npm/call-bind-apply-helpers/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/call-bound/index.js
cloudfunctions/getOpenid/miniprogram_npm/call-bound/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/caseless/index.js
cloudfunctions/getOpenid/miniprogram_npm/caseless/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/clone/index.js
cloudfunctions/getOpenid/miniprogram_npm/clone/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/combined-stream/index.js
cloudfunctions/getOpenid/miniprogram_npm/combined-stream/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/core-util-is/index.js
cloudfunctions/getOpenid/miniprogram_npm/core-util-is/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/dashdash/index.js
cloudfunctions/getOpenid/miniprogram_npm/dashdash/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/delayed-stream/index.js
cloudfunctions/getOpenid/miniprogram_npm/delayed-stream/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/diff/index.js
cloudfunctions/getOpenid/miniprogram_npm/diff/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/ecc-jsbn/index.js
cloudfunctions/getOpenid/miniprogram_npm/ecc-jsbn/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/ecdsa-sig-formatter/index.js
cloudfunctions/getOpenid/miniprogram_npm/ecdsa-sig-formatter/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/es-define-property/index.js
cloudfunctions/getOpenid/miniprogram_npm/es-define-property/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/es-errors/index.js
cloudfunctions/getOpenid/miniprogram_npm/es-errors/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/es-object-atoms/index.js
cloudfunctions/getOpenid/miniprogram_npm/es-object-atoms/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/extend/index.js
cloudfunctions/getOpenid/miniprogram_npm/extend/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/extsprintf/index.js
cloudfunctions/getOpenid/miniprogram_npm/extsprintf/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/fast-deep-equal/index.js
cloudfunctions/getOpenid/miniprogram_npm/fast-deep-equal/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/fast-json-stable-stringify/index.js
cloudfunctions/getOpenid/miniprogram_npm/fast-json-stable-stringify/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/follow-redirects/index.js
cloudfunctions/getOpenid/miniprogram_npm/follow-redirects/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/forever-agent/index.js
cloudfunctions/getOpenid/miniprogram_npm/forever-agent/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/form-data/index.js
cloudfunctions/getOpenid/miniprogram_npm/form-data/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/function-bind/index.js
cloudfunctions/getOpenid/miniprogram_npm/function-bind/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/get-intrinsic/index.js
cloudfunctions/getOpenid/miniprogram_npm/get-intrinsic/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/get-proto/index.js
cloudfunctions/getOpenid/miniprogram_npm/get-proto/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/getpass/index.js
cloudfunctions/getOpenid/miniprogram_npm/getpass/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/gopd/index.js
cloudfunctions/getOpenid/miniprogram_npm/gopd/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/har-schema/index.js
cloudfunctions/getOpenid/miniprogram_npm/har-schema/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/har-validator/index.js
cloudfunctions/getOpenid/miniprogram_npm/har-validator/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/has-symbols/index.js
cloudfunctions/getOpenid/miniprogram_npm/has-symbols/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/has-tostringtag/index.js
cloudfunctions/getOpenid/miniprogram_npm/has-tostringtag/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/hasown/index.js
cloudfunctions/getOpenid/miniprogram_npm/hasown/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/http-signature/index.js
cloudfunctions/getOpenid/miniprogram_npm/http-signature/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/humanize-ms/index.js
cloudfunctions/getOpenid/miniprogram_npm/humanize-ms/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/ieee754/index.js
cloudfunctions/getOpenid/miniprogram_npm/ieee754/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/is-regex/index.js
cloudfunctions/getOpenid/miniprogram_npm/is-regex/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/is-stream/index.js
cloudfunctions/getOpenid/miniprogram_npm/is-stream/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/is-typedarray/index.js
cloudfunctions/getOpenid/miniprogram_npm/is-typedarray/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/isstream/index.js
cloudfunctions/getOpenid/miniprogram_npm/isstream/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/jsbn/index.js
cloudfunctions/getOpenid/miniprogram_npm/jsbn/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/json-bigint/index.js
cloudfunctions/getOpenid/miniprogram_npm/json-bigint/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/json-schema/index.js
cloudfunctions/getOpenid/miniprogram_npm/json-schema/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/json-schema-traverse/index.js
cloudfunctions/getOpenid/miniprogram_npm/json-schema-traverse/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/json-stringify-safe/index.js
cloudfunctions/getOpenid/miniprogram_npm/json-stringify-safe/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/jsonwebtoken/index.js
cloudfunctions/getOpenid/miniprogram_npm/jsonwebtoken/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/jsprim/index.js
cloudfunctions/getOpenid/miniprogram_npm/jsprim/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/jwa/index.js
cloudfunctions/getOpenid/miniprogram_npm/jwa/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/jws/index.js
cloudfunctions/getOpenid/miniprogram_npm/jws/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.clonedeep/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.clonedeep/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.includes/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.includes/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.isboolean/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.isboolean/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.isinteger/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.isinteger/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.isnumber/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.isnumber/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.isplainobject/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.isplainobject/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.isstring/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.isstring/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.merge/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.merge/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.once/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.once/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.set/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.set/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/lodash.unset/index.js
cloudfunctions/getOpenid/miniprogram_npm/lodash.unset/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/long/index.js
cloudfunctions/getOpenid/miniprogram_npm/long/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/make-error/index.js
cloudfunctions/getOpenid/miniprogram_npm/make-error/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/mime-db/index.js
cloudfunctions/getOpenid/miniprogram_npm/mime-db/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/mime-types/index.js
cloudfunctions/getOpenid/miniprogram_npm/mime-types/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/ms/index.js
cloudfunctions/getOpenid/miniprogram_npm/ms/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/oauth-sign/index.js
cloudfunctions/getOpenid/miniprogram_npm/oauth-sign/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/object-inspect/index.js
cloudfunctions/getOpenid/miniprogram_npm/object-inspect/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/performance-now/index.js
cloudfunctions/getOpenid/miniprogram_npm/performance-now/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/protobufjs/index.js
cloudfunctions/getOpenid/miniprogram_npm/protobufjs/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/punycode/index.js
cloudfunctions/getOpenid/miniprogram_npm/punycode/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/qs/index.js
cloudfunctions/getOpenid/miniprogram_npm/qs/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/request/index.js
cloudfunctions/getOpenid/miniprogram_npm/request/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/request-promise/index.js
cloudfunctions/getOpenid/miniprogram_npm/request-promise/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/request-promise-core/index.js
cloudfunctions/getOpenid/miniprogram_npm/request-promise-core/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/retry/index.js
cloudfunctions/getOpenid/miniprogram_npm/retry/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/safe-buffer/index.js
cloudfunctions/getOpenid/miniprogram_npm/safe-buffer/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/safer-buffer/index.js
cloudfunctions/getOpenid/miniprogram_npm/safer-buffer/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/sax/index.js
cloudfunctions/getOpenid/miniprogram_npm/sax/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/semver/index.js
cloudfunctions/getOpenid/miniprogram_npm/semver/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/side-channel/index.js
cloudfunctions/getOpenid/miniprogram_npm/side-channel/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/side-channel-list/index.js
cloudfunctions/getOpenid/miniprogram_npm/side-channel-list/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/side-channel-map/index.js
cloudfunctions/getOpenid/miniprogram_npm/side-channel-map/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/side-channel-weakmap/index.js
cloudfunctions/getOpenid/miniprogram_npm/side-channel-weakmap/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/source-map/index.js
cloudfunctions/getOpenid/miniprogram_npm/source-map/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/source-map-support/index.js
cloudfunctions/getOpenid/miniprogram_npm/source-map-support/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/sshpk/index.js
cloudfunctions/getOpenid/miniprogram_npm/sshpk/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/stealthy-require/index.js
cloudfunctions/getOpenid/miniprogram_npm/stealthy-require/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/tcb-admin-node/index.js
cloudfunctions/getOpenid/miniprogram_npm/tcb-admin-node/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/tcb-admin-node/miniprogram_npm/@cloudbase/database/index.js
cloudfunctions/getOpenid/miniprogram_npm/tcb-admin-node/miniprogram_npm/@cloudbase/database/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/tough-cookie/index.js
cloudfunctions/getOpenid/miniprogram_npm/tough-cookie/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/ts-node/index.js
cloudfunctions/getOpenid/miniprogram_npm/ts-node/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/tslib/index.js
cloudfunctions/getOpenid/miniprogram_npm/tslib/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/tunnel-agent/index.js
cloudfunctions/getOpenid/miniprogram_npm/tunnel-agent/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/tweetnacl/index.js
cloudfunctions/getOpenid/miniprogram_npm/tweetnacl/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/uri-js/index.js
cloudfunctions/getOpenid/miniprogram_npm/uri-js/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/url/index.js
cloudfunctions/getOpenid/miniprogram_npm/url/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/url/miniprogram_npm/punycode/index.js
cloudfunctions/getOpenid/miniprogram_npm/url/miniprogram_npm/punycode/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/url/miniprogram_npm/qs/index.js
cloudfunctions/getOpenid/miniprogram_npm/url/miniprogram_npm/qs/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/uuid/index.js
cloudfunctions/getOpenid/miniprogram_npm/uuid/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/verror/index.js
cloudfunctions/getOpenid/miniprogram_npm/verror/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/wx-server-sdk/index.js
cloudfunctions/getOpenid/miniprogram_npm/wx-server-sdk/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/xml2js/index.js
cloudfunctions/getOpenid/miniprogram_npm/xml2js/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/xmlbuilder/index.js
cloudfunctions/getOpenid/miniprogram_npm/xmlbuilder/index.js.map
cloudfunctions/getOpenid/miniprogram_npm/yn/index.js
cloudfunctions/getOpenid/miniprogram_npm/yn/index.js.map
